* {
    box-sizing: border-box;
}
:root {
    --bg-dark: #1A202C;
    --bg-dark-subtle: #2D3748;
    --text-light: #edf2f7;
    --white-soft: rgba(255, 255, 255, 0.2);
    --white-med: rgba(255, 255, 255, 0.4);
    --grey-soft: #495661;
    --accent-green: #4fd1c5;
}
html, body {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: var(--bg-dark);
    color: var(--text-light);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 12px;
}

button {
    font-weight: 700;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}